.lmj-banner {
	padding: 2rem 0;
	border-bottom: solid 3px black;
}

.lmj-container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.lmj-title {
	padding-left: 3rem;
	font-size: clamp(2.2rem, 6vw, 3.4rem);
}

.lmj-logo {
	height: 45px;
	width: 45px;
}