.cart {
	color: #fff;
	background-color: var(--primary-color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 8rem;
	z-index: -1;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	transition: .4s;
}

.cart .container {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
}

.toggle-btn {
	background: transparent;
	border: none;
	font-size: 1.6rem;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
	padding: 0;
	margin-left: auto;
}

.cart .toggle-btn {
	color: #fff;
}

.closed .toggle-btn {
	color: var(--font-color-1);
}

.delete-btn {
	background-color: #fff;
	border: 0;
	font-size: 1.6rem;
	padding: .8rem;
	border-radius: var(--rad);
	cursor: pointer;
}