.lmj-cart {
	color: var(--white);
	background-color: var(--primary-color);
}

.container-cart {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
}

.lmj-cart-toggle-button {
	background: none;
	border: none;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
	align-self: flex-end;
	padding: 0;
	color: var(--white);
}

.lmj-cart-closed {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.lmj-cart-closed>button {
	color: var(--font-color);
	padding: 2rem 0;
}

.lmj-cart-empty {
	cursor: pointer;
}