.footer {
	margin-top: 2rem;
	padding: 2rem;
	border-top: solid 3px black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__input,
.footer__btn {
	min-width: 25rem;
	padding: 1rem;
	margin: .5rem;
	font-size: 1.6rem;
	border-radius: var(--rad);
	border: 1px solid black;
}

.footer__btn {
	cursor: pointer;
	transition: .3s;
}

.footer__btn:hover {
	background-color: lightgreen;
}