.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--bg-color);
	z-index: 10;
	padding: 2rem 0;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	color: var(--font-color-1);
}

.header__container {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__wrapper {
	display: flex;
	align-items: center;
}

.header__heading {
	margin: 0;
	padding: 0 2rem;
	font-size: clamp(2.2rem, 6vw, 3.4rem);
}

.header__logo {
	cursor: pointer;
}