:root {
  --primary-color: #258654;
  --font-color-1: #333;
  --font-color-2: #fff;
  --bg-color: #fff;
  --rad: 1rem;
}

body.dark {
  --font-color: #fff;
  --bg-color: #333;
  --font-color-1: #fff;
  --font-color-2: #333;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: sans-serif;
  font-size: 1.6em;
  color: var(--font-color);
}