.lmj-plant-item-cover {
	height: 25rem;
	width: 25rem;
	border-radius: 2rem;
	object-fit: cover;
	margin-bottom: 1rem;
}

.lmj-plant-item {
	display: flex;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
}

.lmj-plant-item-price {
	position: absolute;
	border-radius: 20px 20px 20px 0;
	background-color: var(--primary-color);
	color: white;
	padding: 15px;
	right: 0;
	top: 0;
	font-weight: 500;
}