.lmj-plant-list {
	width: 90%;
	max-width: 1600px;
	margin: auto;
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.btn-add {
	border: 1px solid #88888879;
	font-size: 1.6rem;
	background-color: #fff;
	border-radius: var(--rad);
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: .3s;
}

.btn-add:hover {
	background-color: rgb(230, 230, 230);
}